{% extends "header.html" %}
{% block content %}

<center><h1>Album Catalogue</h1></center>

<table>
	<tr>
		<th>Cover</th>
		<th>Artist</th>
		<th>Album</th>
		<th>Genre</th>
		<th>Release date</th>
		<th>Length</th>
		<th>Label</th>
		<th>Rating</th>
	</tr>
	<tr>
		<td><img src = {{iridescenceCover}} width="100" height="100"/></td>
		<td>BROCKHAMPTON</td>
		<td><a href="http://set09103.napier.ac.uk:9159/album/iridescence/">iridescence</a></td>
		<td>Hip Hop</td>
		<td>21/09/2018</td>
		<td>48:49</td>
		<td>RCA</td>
		<td>86/100</td>
	</tr>
	<tr>
		<td><img src = {{amlCover}} width='100' height='100'/></td>
		<td>Childish Gambino</td>
		<td><a href="http://set09103.napier.ac.uk:9159/album/awaken_my_love/">Awaken, My Love!</a></td>
		<td>R&B</td>
		<td>02/12/2016</td>
		<td>48:57</td>
		<td>Glassnote</td>
		<td>77/100</td>
	</tr>
	<tr>
		<td><img src = {{aliveCover}} width='100'height='100'/></td>
		<td>Daft Punk</td>
		<td><a href="http://set09103.napier.ac.uk:9159/album/alive/">Alive (2007)</a></td>
		<td>House</td>
		<td>19/11/2007</td>
		<td>74:04</td>
		<td>Virgin</td>
		<td>78/100</td>
	</tr>
	<tr>
		<td><img src = {{channelOrangeCover}} width='100' height='100'/></td>
		<td>Frank Ocean</td>
		<td><a href="http://set09103.napier.ac.uk:9159/album/channel_orange/">Channel ORANGE</a></td>
		<td>R&B</td>
		<td>10/07/2012</td>
		<td>62:18</td>
		<td>Def Jam</td>
		<td>92/100</td>
	</tr>
	<tr>
		<td><img src = {{inColourCover}} width='100' height='100'/></td>
		<td>Jamie xx</td>
		<td><a href="http://set09103.napier.ac.uk:9159/album/in_colour/">In Colour</a></td>
		<td>House</td>
		<td>29/05/2015</td>
		<td>43:44</td>
		<td>Young Turks</td>
		<td>87/100</td>
	</tr>
	<tr>
		<td><img src = {{ksgCover}} width='100' height='100'/></td>
		<td>Kids See Ghosts</td>
		<td><a href="http://set09103.napier.ac.uk:9159/album/kids_see_ghosts/">Kids See Ghosts</a></td>
		<td>Hip Hop</td>
		<td>08/06/2018</td>
		<td>23:58</td>
		<td>Def Jam</td>
		<td>84/100</td>
	</tr>
	<tr>
		<td><img src = {{isThisItCover}} width='100' height='100'/></td>
		<td>The Strokes</td>
		<td><a href="http://set09103.napier.ac.uk:9159/album/is_this_it/">Is This It</a></td>
		<td>Indie Rock</td>
		<td>30/07/2001</td>
		<td>36:28</td>
		<td>RCA</td>
		<td>91/100</td>
	</tr>
	<tr>
		<td><img src = {{xxCover}} width='100' height='100'/></td>
		<td>The xx</td>
		<td><a href="http://set09103.napier.ac.uk:9159/album/xx/">xx</a></td>
		<td>Indie Rock</td>
		<td>14/07/2009</td>
		<td>38:28</td>
		<td>Young Turks</td>
		<td>87/100</td>
	</tr>

</table>
{% endblock %}
