{% extends "header.html" %}
{% block content %}


<center><h1>Pick an Artist:</h1></center>
<div class="row">
	<div class="column">
		<a href="http://set09103.napier.ac.uk:9159/artist/brockhampton/"><img src = {{bh}} style="width:100%"/></a>
		<center><a href="http://set09103.napier.ac.uk:9159/artist/brockhampton/">Brockhampton</a></center>
	</div>

	<div class="column">
		<a href="http://set09103.napier.ac.uk:9159/artist/childish_gambino"><img src ={{cg}} style="width:100%"/></a>
		<center><a href="http://set09103.napier.ac.uk:9159/artist/childish_gambino">Childish Gambino</a></center>
	</div>

	<div class="column">
		<a href="http://set09103.napier.ac.uk:9159/artist/daft_punk/"><img src= {{dp}} style="width:100%"/></a>	
		<center><a href="http://set09103.napier.ac.uk:9159/artist/daft_punk/">Daft Punk</a></center>
	</div>

	<div class="column">
		<a href="http://set09103.napier.ac.uk:9159/artist/frank_ocean"><img src = {{fo}} style="width:100%"/></a>

		<center><a href="http://set09103.napier.ac.uk:9159/artist/frank_ocean">Frank Ocean</a></center>
	</div>
</div>
<div class="row">
        <div class="column">
                <a href="http://set09103.napier.ac.uk:9159/artist/jamie_xx/"><img src = {{jxx}} style="width:100%"/></a>
                <center><a href="http://set09103.napier.ac.uk:9159/artist/jamie_xx/">Jamie xx</a></center>
        </div>

        <div class="column">
                <a href="http://set09103.napier.ac.uk:9159/artist/kids_see_ghosts/"><img src ={{ksg}} style="width:100%"/></a>
                <center><a href="http://set09103.napier.ac.uk:9159/artist/kids_see_ghosts/">Kids See Ghosts</a></center>
        </div>

        <div class="column">
                <a href="http://set09103.napier.ac.uk:9159/artist/the_strokes/"><img src= {{ts}} style="width:100%"/></a>
                <center><a href="http://set09103.napier.ac.uk:9159/artist/the_strokes/">The Strokes</a></center>
        </div>

        <div class="column">
                <a href="http://set09103.napier.ac.uk:9159/artist/the_xx/"><img src = {{txx}} style="width:100%"/></a>

                <center><a href="http://set09103.napier.ac.uk:9159/artist/the_xx/">The xx</a></center>
        </div>
</div>

{% endblock %}

