{% extends "header.html" %}
{% block content %}

<center><h1>BROCKHAMPTON</h1></center>
<div id=margin><img src = {{artistPic}} id=rightimg /></div>

<div id=margin><p><b>Overview: </b>Brockhampton is an American musical collective formed in San Marcos, Texas, in 2015 and currently based in California. Led by Kevin Abstract, Brockhampton formed partially through the online forum "KanyeToThe", and define themselves as a boy band. The group consists of vocalists Kevin Abstract, Matt Champion, Merlyn Wood, and Dom McLennon, vocalists/producers Joba and Bearface, and producers Romil Hemnani, Jabari Manwa, and Kiko Merley (the latter two of which function as the duo Q3), as well as graphic designer Henock "HK" Sileshi, photographer Ashlan Grey, web designer Roberto Ontenient (who also features prominently in voice skits), and manager Jon Nunes.</p>

<p>The group released their first mixtape All-American Trash in 2016. Their debut studio album, Saturation, was released on June 9, 2017, followed by Saturation II on August 25 and Saturation III on December 15. On March 30, 2018, Brockhampton announced that they had signed a record deal under the label RCA Records. Their fourth studio album, Iridescence, was released on September 21, 2018. This album is also the first in their second trilogy, known as "The Best Years of Our Lives".</p>

<h2 >Discography:</h2>
	
<ul>
	<li>Saturation (2017)</li>
	<li>Saturation II (2017)</li>
	<li>Saturation III (2017)</li>
	<li><a href="http://set09103.napier.ac.uk:9159/genre/hip_hop/brockhampton/iridescence/">iridescence</a> (2018)</li>
</ul>
</div>


{% endblock %}
