{% extends "header.html" %}
{% block content %}

<center><h1>Jamie xx</h1></center><div id=margin><img src= {{artistPic}} id=rightimg /></div>

<div id=margin><p><b>Overview: </b>James Thomas Smith, known professionally as Jamie xx, is an English musician, DJ, record producer and remixer. He is known for his solo work and also as a member of the English indie pop band The xx. He has been described as a "driving force" behind the xx, contributing to the group's significant commercial and critical success. As a solo artist, he has been recognised with a 2015 Mercury Prize nomination, and a 2016 Grammy Award for Best Dance/Electronic Album nomination for his debut album In Colour. He first used the stage name Jamie xx in July 2009 in a promotional mix for the band's debut album xx released on the FACT magazine mix series.</p>

<h2>Discography:</h2>

<ul>
	<li><a href="http://set09103.napier.ac.uk:9159/genre/house/jamie_xx/in_colour/">In Colour</a> (2015)</li>
</ul>
</div>

{% endblock %}
