{% extends "header.html" %}
{% block content %}

<center><h1>The Strokes</h1></center>
<div id=margin><img src= {{artistPic}} id=rightimg /></div>

<div id=margin><p><b>Overview: </b>The Strokes are an American rock band from New York City. Formed in 1998, the band is composed of singer Julian Casablancas, lead guitarist Nick Valensi, rhythm guitarist Albert Hammond Jr., bassist Nikolai Fraiture, and drummer Fabrizio Moretti. Following the conclusion of five-album deals with RCA and Rough Trade, the band has continued to release new music through Casablancas' Cult Records.</p>
<p>Met with widespread critical acclaim, the Strokes' 2001 debut, Is This It,[1] helped usher in the garage rock revival movement of the early-21st century—and ranks number eight on Rolling Stone's 100 Best Debut Albums of All Time,[2] number two on Rolling Stone's 100 Best Albums of the '00s,[3] 199 on Rolling Stone's 500 Greatest Albums of All Time and number four in the NME top 500 albums of all time.</p>

<h2>Discography:</h2>

<ul>
	<li><a href="http://set09103.napier.ac.uk:9159/">Is This It</a> (2001)</li>
	<li>Room on Fire (2003)</li>
	<li>First Impressions of Earth (2006)</li>
	<li>Angles (2011)</li>
	<li>Comedown Machine (2013)</li>
</ul>
</div>

{% endblock %}
