{% extends "header.html" %}
{% block content %}

<center><h1>Album Catalogue</h1></center>

<table>
	<tr>
		<th>Cover</th>
		<th>Artist</th>
		<th>Album</th>
		<th>Genre</th>
		<th>Release date</th>
		<th>Length</th>
		<th>Label</th>
		<th>Rating</th>
	</tr>
	<tr>
		<td><img src = {{iridescenceCover}} width="100" height="100"/></td>
		<td><a href="http://set09103.napier.ac.uk:9159/hip_hop/brockhampton/">BROCKHAMPTON</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/hip_hop/brockhampton/iridescence/">iridescence</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/hip_hop/">Hip Hop</a></td>
		<td>21/09/2018</td>
		<td>48:49</td>
		<td>RCA</td>
		<td>86/100</td>
	</tr>
	<tr>
		<td><img src = {{amlCover}} width='100' height='100'/></td>
		<td><a href="http://set09103.napier.ac.uk:9159/RnB/childish_gambino/">Childish Gambino</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/RnB/childish_gambino/awaken_my_love/">Awaken, My Love!</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/RnB/">R&B</a></td>
		<td>02/12/2016</td>
		<td>48:57</td>
		<td>Glassnote</td>
		<td>77/100</td>
	</tr>
	<tr>
		<td><img src = {{aliveCover}} width='100'height='100'/></td>
		<td><a href="http://set09103.napier.ac.uk:9159/house/daft_punk/">Daft Punk</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/house/daft_punk/alive/">Alive (2007)</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/house/">House</a></td>
		<td>19/11/2007</td>
		<td>74:04</td>
		<td>Virgin</td>
		<td>78/100</td>
	</tr>
	<tr>
		<td><img src = {{channelOrangeCover}} width='100' height='100'/></td>
		<td><a href="http://set09103.napier.ac.uk:9159/RnB/frank_ocean/">Frank Ocean</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/RnB/frank_ocean/channel_orange/">Channel ORANGE</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/RnB/">R&B</a></td>
		<td>10/07/2012</td>
		<td>62:18</td>
		<td>Def Jam</td>
		<td>92/100</td>
	</tr>
	<tr>
		<td><img src = {{inColourCover}} width='100' height='100'/></td>
		<td><a href="http://set09103.napier.ac.uk:9159/house/jamie_xx/">Jamie xx</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/house/jamie_xx/in_colour/">In Colour</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/house/">House</a></td>
		<td>29/05/2015</td>
		<td>43:44</td>
		<td>Young Turks</td>
		<td>87/100</td>
	</tr>
	<tr>
		<td><img src = {{ksgCover}} width='100' height='100'/></td>
		<td><a href="http://set09103.napier.ac.uk:9159/hip_hop/kids_see_ghosts/">Kids See Ghosts</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/hip_hop/kids_see_ghosts/kids_see_ghosts/">Kids See Ghosts</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/hip_hop/">Hip Hop</a></td>
		<td>08/06/2018</td>
		<td>23:58</td>
		<td>Def Jam</td>
		<td>84/100</td>
	</tr>
	<tr>
		<td><img src = {{isThisItCover}} width='100' height='100'/></td>
		<td><a href="http://set09103.napier.ac.uk:9159/indie_rock/the_strokes">The Strokes</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/indie_rock/the_strokes/is_this_it/">Is This It</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/indie_rock/">Indie Rock</a></td>
		<td>30/07/2001</td>
		<td>36:28</td>
		<td>RCA</td>
		<td>91/100</td>
	</tr>
	<tr>
		<td><img src = {{xxCover}} width='100' height='100'/></td>
		<td><a href="http://set09103.napier.ac.uk:9159/indie_rock/the_xx">The xx</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/indie_rock/the_xx/xx/">xx</a></td>
		<td><a href="http://set09103.napier.ac.uk:9159/indie_rock/">Indie Rock</a></td>
		<td>14/07/2009</td>
		<td>38:28</td>
		<td>Young Turks</td>
		<td>87/100</td>
	</tr>

</table>
{% endblock %}
