{% extends "header.html" %}
{% block content %}

<center><h1>BROCKHAMPTON</h1></center>
<div id=margin><img src = {{artistPic}} id=rightimg /></div>

<div id=margin><p><b>Overview: </b>BROCKHAMPTON is an American musical collective formed in San Marcos, Texas, in 2015 and is currently based in California. The self-defined boy band consists of vocalists Kevin Abstract, Matt Champion, Merlyn Wood and Dom McLennon, vocalist/producers Joba and Bearface, and producers Romil Hemnani, Jabari Manwa, and Kiki Merley, as well as graphic designer Henock 'HK' Sileshi, photographer Ashlan Grey, web designer Roberto Ontenient and manager Jon Nunes. The group released their first studio album, Saturation, was released on June 9, 2017, followed by Saturation II on August 25 and Saturation III on December 15.</p>

<h2 >Discography:</h2>
	
<ul>
	<li>Saturation (2017)</li>
	<li>Saturation II (2017)</li>
	<li>Saturation III (2017)</li>
	<li><a href="http://set09103.napier.ac.uk:9159/genre/hip_hop/brockhampton/iridescence/">iridescence</a> (2018)</li>
</ul>
</div>

{% endblock %}
