{% extends "header.html" %}
{% block content %}

<center><h1>Daft Punk</h1></center>
<div id=margin><img src= {{artistPic}} id=rightimg /></div>

<div id=margin><p><b>Overview: </b>Daft Punk are a French electronic music duo formed in Paris in 1993 by Guy-Manuel de Homem-Christo and Thomas Bangalter. They achieved popularity in the late 1990s as part of the French house movement, and had success in the following years, combining elements of house music with funk, techno, rock and synthpop. Both artists don helmets and gloves to assume robot personas in most public appearences since 2001. As of 2007 Daft Punk had sold over 7 million album worldwide and have earned 40 music nominations, winning 10 - including 6 Grammy awards.</p>

<h2>Discography:</h2>

<ul>
	<li>Homework (1997)</li>
	<li>Discovey (2001)</li>
	<li>Alive (1997) - live album</li>
	<li>Human After All (2005)</li>
	<li><a href="http://set09103.napier.ac.uk:9159/genre/house/daft_punk/alive/">Alive</a> (2007) - live album</li>
	<li>Random Access Memories (2013)</li>
</ul>
</div>

{% endblock %}
