{% extends "header.html" %}
{% block content %}

<center><h1>Frank Ocean</h1></center>
<div id=margin><img src= {{artistPic}} id=rightimg /></div>

<div id=margin><p><b>Overview: </b>Frank Ocean is an American singer, songwriter, record producer, rapper and photographer. Prior to joining Tyler, the Creator's hip hop collaboration Odd Future in 2010, Ocean was a ghostwriter. Once Ocean became a member of Odd Future his musical career began to take off and this allowed him to start creating solo music. Ocean's first mixtape, "Nostalgia, Ultra", was met with critical success and praise. After his next single "Novacane" reached number 82 on the top 100 billboard chart (Novacane would also go on to become a platinum single) Ocean had clearly began to raise eyebrows. This allowed him to seccure a record contract with Def Jam in 2012. After this Ocean released his debut album, Channel ORANGE, which would also go on to become a platinum selling album and gain Ocean a Grammy nomination for Record of the Year.</p>

<h2>Discography:</h2>

<ul>	
	<li><a href="http://set09103.napier.ac.uk:9159/genre/RnB/frank_ocean/channel_orange/">Channel ORANGE</a> (2012)</li>
	<li>Blonde (2016)</li>
</ul>
</div>

{% endblock %}
