{% extends "header.html" %}
{% block content %}

<center><h1>Childish Gambino</h1></center>
<div id=margin><img src= {{artistPic}} id=rightimg /></div>

<div id=margin><p><b>Overview: </b>Donald McKinley Glover Jr. (born September 25, 1983) is an American actor, comedian, singer, writer, producer, director, rapper, and DJ. He performs music under the stage name Childish Gambino and as a DJ under the name mcDJ.</p>
<p>After several self-released albums and mixtapes, Glover signed to Glassnote Records in 2011. He released his first album, Camp, on November 15, 2011, to generally positive reviews. His second studio album, Because the Internet, was released on December 10, 2013. Glover's third album, "Awaken, My Love!", was released on December 2, 2016, spawning the single "Redbone", which peaked at number 12 on the Billboard Hot 100, and eventually earned him a Grammy Award for Best Traditional R&B Performance. In 2017, Glover was included on the annual Time 100 list of the most influential people in the world. In 2018, Glover released the song and video for "This Is America", which debuted at number-one on the Hot 100. Soon after his EP Summer Pack was released in early July 2018.</p>

<h2>Discography:</h2>

<ul>
	<li>Camp (2011)</li>
	<li>Because the Internet (2013)</li>
	<li><a href="http://set09103.napier.ac.uk:9159/">Awaken, My Love!</a> (2016)</li>
</ul>
</div>

{% endblock %}
