{% extends "header.html" %}
{% block content %}


<center><h1>Pick a Genre:</h1></center>
<div class="row" align="left">
	<div class="column">
		<a href="http://set09103.napier.ac.uk:9159/hip_hop/"><img src ="https://cdn4.iconfinder.com/data/icons/famous-faces/100/kanye2-128.png" alt="Hip Hop" style="width:100%"/></a>
		<center><a href="http://set09103.napier.ac.uk:9159/hip_hop/">Hip Hop</a></center>
	</div>

	<div class="column">
		<a href="http://set09103.napier.ac.uk:9159/house/"><img src ="https://cdn3.iconfinder.com/data/icons/100-popular-requests-fill/70/icon_sets_100_popular_requests_fill_iconfinder-51-128.png" alt="House" style="width:100%"/></a>
		<center><a href="http://set09103.napier.ac.uk:9159/house/">House</a></center>
	</div>

	<div class="column">
		<a href="http://set09103.napier.ac.uk:9159/indie_rock/"><img src ="https://cnd0.iconfinder.com/data/icons/rock-and-roll/512/rock-music-culture_2_copy-128.png" alt="Indie Rock" style="width:100%"/></a>
	
		<center><a href="http://set09103.napier.ac.uk:9159/indie_rock/">Indie Rock</a></center>
	</div>

	<div class="column">
		<a href="http://set09103.napier.ac.uk:9159/RnB/"><img src ="https://image.flaticon.com/icons/png/128/60/60540.png" alt="R&B" style="width:100%"/></a>
		<center><a href="http://set09103.napier.ac.uk:9159/RnB/">R&B</a></center>
	</div>


{% endblock %}

