{% extends "header.html" %}
{% block content %}

<center><h1>Kids See Ghosts</h1></center>
<div id=margin><img src= {{artistPic}} id=rightimg /></div>

<div id=margin><p><b>Overview: </b>Kids See Ghosts is an American hip hop supergroup-duo composed of musicians Kanye West and Kid Cudi. The duo released their eponymous debut album 'Kids See Ghosts' on June 8, 2018. Cudi later revealed in July that he and West would continue to release music as a duo under Kids See Ghosts. Prior to the formation of Kids See Ghosts West and Cudi often collaborated on each others solo work as songwriters, producers and featured artists.</p>

<h2>Discography:</h2>

<ul>
	<li><a href="http://set09103.napier.ac.uk:9159/genre/hip_hop/kids_see_ghosts/kids_see_ghosts/">Kids See Ghosts</a> (2018)</li>
</ul>
</div>

{% endblock %}
