{% extends "header.html" %}
{% block content %}

<center><h1>The xx</h1></center>
<div id=margin><img src= {{artistPic}} id=rightimg /></div>

<div id=margin><p><b>Overview: </b>The xx are an English indie pop band from Wandsworth, London, formed in 2005. The band consists of Romy Madley Croft (guitar, vocals), Oliver Sim (bass, vocals), Jamie Smith, also known as Jamie xx (beats, MPC, record production), and formerly Baria Qureshi (keyboard, guitar). They are known for their distinct and minimalistic sound that blends indie pop, indie electronic, dream pop and electro-rock and the dual vocalist setup of both Croft and Sim. Their music employs soft, echoed guitar, prominent bass, light electronic beats and ambient soundscape backgrounds.</p>
<p>The band was formed when Croft and Sim met during their time at Elliott School, with Baria Qureshi joining the same year and Smith a year after. After posting demos on their Myspace page, they drew the attention of the Beggars Group-owned label Young Turks. Working with producer Rodaidh McDonald, the band released their debut album, xx, in August 2009. The album was a commercial and critical success, reaching number three on the UK Albums Chart, ranking first for The Guardian's and second for NME's best of the year lists among others, and won the Mercury Prize in 2010.</p>

<h2>Discography:</h2>

<ul>
	<li><a href="http://set09103.napier.ac.uk:9159/">xx</a> (2009)</li>
	<li>Coexist (2012)</li>
	<li>I see You (2017)</li>
</ul>
</div>

{% endblock %}
